section {
}

a.active {
  /*background-color: #4a6884;*/
  /*color: white;*/
  /*box-shadow: inset 0 0 0 #223222, 0px 10px 20px -10px #228222;*/
  /*background: #e5e5e5;*/
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

