<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PetYarn</title>
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Navbar-with-menu-and-login.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Simple-Header-y-Navbar-adaptativo-1.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Simple-Header-y-Navbar-adaptativo.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/styles.css">
</head>

<body><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <h1>Pet Yarn</h1>
  </header>
  <nav>
    <ul>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <a href= "/home" class="active"><li><i class="fa fa-home"></i> Home </li></a>
      <a href="/about"><li><i class="fa fa-info"></i> About </li></a>
      <a href="/login"><li><i class="fa fa-inbox"></i> Log In</li></a>
    </ul>
    <div class="handle">
      Menu
    </div>
  </nav>

  <script>
    $('.handle').on('click', function(){
      $('nav ul').toggleClass('showing');
    });
  </script>
</body>
</html>
    <section>
      <form method="post" action="/home/imageUpload" id="imageUpload"  enctype="multipart/form-data">
        <div style="height:0px;overflow:hidden">
          <input type="file" id="fileInput" name="fileInput" />
        </div>
        <button type="button" onclick="chooseFile();">Upload your pet picture</button>
      </form>
    </section>
    <section style="width: 100%;">

        <div class="container">
          <% var row = 4 %> 
          <% if (images.length > 0) { %>
            <% images.forEach(image => { %>
              <% if(row%4 == 0) { %><div class="row"> <% } %>
                      <% row++ %> 
                      <div class="col-md-3 align-self-end">
                          <div class="card">
                              <div class="card-body">
                                <img class="img-thumbnail" src="<%= image.url %>">
                                <button class="btn btn-primary like-button" data-id="<%= image['_id'] %>" type="button" style="margin-top: 9px;margin-bottom: -15px;"><i class="fa fa-heart"></i> <span style="font-family: Arial, Helvetica, sans-serif;"><%= image.likes %></span></button>
                              </div>
                          </div>
                      </div>
              <% if(row%4 == 0) { %></div> <% } %>
            <% }) %>
          <% } %>
        </div>
    </section>
    <script src="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/js/jquery.min.js"></script>
    <script src="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
       function chooseFile() {
          $("#fileInput").click(); 
        }

        $(document).ready(function () {

          $('#fileInput').on('change',function() {
            var val = $("#fileInput").val();
            if(val){
              $("#imageUpload").submit();
            }
          })

          $(".like-button").on("click",function(e){
            let id = $(this).attr("data-id");
            //console.log(id);
            $.ajax({
              url: `/home/likeImage/${id}`,
              type: 'PUT',
              data: "",
              success: function(data) {
               console.log("image liked");
               location.reload();
              }
            });
          })

        })

    </script>
</body>

</html>