<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PetYarn</title>
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Navbar-with-menu-and-login.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Simple-Header-y-Navbar-adaptativo-1.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/Simple-Header-y-Navbar-adaptativo.css">
    <link rel="stylesheet" href="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/css/styles.css">
</head>

<body><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <h1>Pet Yarn</h1>
  </header>
  <nav>
    <ul>
      <a href="/home"><li><i class="fa fa-home"></i> Home </li></a>
      <a href="/about"><li><i class="fa fa-info"></i> About </li></a>
      <a href="/login" class="active"><li><i class="fa fa-inbox"></i> Log In</li></a>
    </ul>
    <div class="handle">
      Menu
    </div>
  </nav>

  <script>
    $('.handle').on('click', function(){
      $('nav ul').toggleClass('showing');
    });
  </script>
</body>
</html>
    <section>
        <section class="register-photo">
            <div class="form-container">
                <form method="post">
                    <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                    <div class="form-group">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="login">You already have an account? Login here.</a>
                </form>
            </div>
        </section>
    </section>
    <script src="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/js/jquery.min.js"></script>
    <script src="https://project-res.s3-ap-southeast-2.amazonaws.com/petyarn/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>